<!DOCTYPE html>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Togoist</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<style>
html, body, .container-fluid, .row, .col-md-4 {
	height: 100%;
}
textarea.form-control {
	height: 100%;
	width: 100%;
}
</style>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
		<textarea id="tmpl" rows="8" class="form-control">
TYPE,CONTENT,PRIORITY,INDENT,AUTHOR,RESPONSIBLE,DATE,DATE_LANG,TIMEZONE
{{- range .Tasks}}
{{if .Type}}{{.Type}}{{else}}task{{end}},{{.Content}},{{.Priority}},1,,,,,,
,,,,,,,,
{{- end}}
		</textarea>
		</div>
		<div class="col-md-4">
		<textarea id="input" rows="8" class="form-control">
{
	"Tasks": [
		{"Type": "test", "Content": "Test task 1", "Priority": 4},
		{"Content": "Test task 2", "Priority": 4},
		{"Content": "Test task 3", "Priority": 4}
	]
}
		</textarea>
		</div>
		<div class="col-md-4">
		<textarea id="output" rows="8" class="form-control"></textarea>
		</div>
	</div>
</div>

<script src="http://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="togoist.js"></script>
